* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.annoucement {
  background-color: #f8f8f8;
  padding: 10px;
  width: 100%;
  margin: 40px 0;
  padding: 10px 50px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.annoucement p {
  margin: 15px 0;
}
.sideImage img {
  height: 350px;
  aspect-ratio: 4/3;
  position: relative;
  top: 100px;
  right: 50px;
  border-radius: 150rem;
}
.services {
  margin-top: 150px;
}
.services > h2 {
  text-align: center;
}
.servicesListing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 20px;
}
